.TextArea {
  width: 100%;
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  line-height: 1.5;
  padding: 15px 15px 30px;
  border-radius: 3px;
  border: 1px solid #f7e98d;
  font: 13px Tahoma, cursive;
  transition: box-shadow 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-smoothing: subpixel-antialiased;
}
